.banner {
  color: white;
  text-align: center;
  height: 100vh;
/* if you have a 70px navbar => height: calc(100vh - 70px); */
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
h1 {
  font-size: 40px;
  // font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
}
// CONTENT
.my-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.article {
  width: 345px;
  background-color: $light-white;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}
.article:hover{
  box-shadow: 0px 10px 30px #cecece;
  transition: box-shadow 0.25s;
}
.illustration {
  height: 200px;
  border-radius: 3px;
  background-size: cover;
  h3 {
    color: white;
    padding-top: 90px;
  }
}
.contenu {
  padding: 10px;
}
// MAP
.map {
  text-align: center;
  margin: 30px 0;
  h3 {
    padding-bottom: 10px;
  }
}

// contacts
.contacts {
  text-align: center;
}
.contact-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.bundler {
  display: flex;
  flex-direction: column;
  a {
    color: $gray;
    opacity: 0.8;
  }
  a:hover {
    text-decoration: none;
    color: $red;
    transition-duration: 0.3s
  }
}
// footer
.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  p {
    margin: 10px;
  }
}
