<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url('https://picsum.photos/1200/630/?random');">
  <div class="banner-content">
    <h1>Cabinet du docteur Gilbert Roux</h1>
    <p>9, rue Francis Davso</p>
  </div>
</div>
<div class="my-container">
  <div class="article"> <!--card/article en entier -->
    <div class="illustration" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url('https://picsum.photos/667/200/?random');"><!--partie photo + titre -->
      <h3>Le cabinet</h3> <!--titre de la card sur background -->
    </div>
    <div class="contenu">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vero obcaecati, consequuntur possimus veritatis harum similique aliquam fugit!</p>
    </div>
  </div>
  <!-- fin article 1 début 2 -->
  <div class="article"> <!--card/article en entier -->
    <div class="illustration" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url('https://picsum.photos/667/200/?random');"><!--partie photo + titre -->
      <h3>Implantologie</h3> <!--titre de la card sur background -->
    </div>
    <div class="contenu">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vero obcaecati, consequuntur possimus veritatis harum similique aliquam fugit!</p>
    </div>
  </div>
</div>
<div class="my-container">
  <!-- fin article 2 début 3 -->
  <div class="article"> <!--card/article en entier -->
    <div class="illustration" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url('https://picsum.photos/667/200/?random');"><!--partie photo + titre -->
      <h3>Parodontologie</h3> <!--titre de la card sur background -->
    </div>
    <div class="contenu">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vero obcaecati, consequuntur possimus veritatis harum similique aliquam fugit!</p>
    </div>
  </div>
  <!-- fin article 3 début 4 -->
  <div class="article"> <!--card/article en entier -->
    <div class="illustration" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url('https://picsum.photos/667/200/?random');"><!--partie photo + titre -->
      <h3>Parodontologie</h3> <!--titre de la card sur background -->
    </div>
    <div class="contenu">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vero obcaecati, consequuntur possimus veritatis harum similique aliquam fugit!</p>
    </div>
  </div>
</div>
<!-- début de la map -->
<div class="container">
  <div class="map">
    <h3>Accès au cabinet</h3>
    <iframe style="width:100%; height:500px;" id="gmap_canvas" src="https://maps.google.com/maps?q=docteur%20gilbert%20roux&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
  </div>
</div>
<!-- fin de la map -->
<!-- début des contacts -->
<div class="contacts">
    <h3>Contacts</h3>
  <div class="contact-container">
    <div class="bundler">
      <div class="tel"><a href=""><i class="fas fa-phone"></i> - 0491318845</a></div>
      <div class="mail"><a href=""><i class="far fa-envelope"></i> - roux.gilbert@orange.fr</a></div>
      <div class="adress"><a href=""><i class="fas fa-map-marker-alt"></i> - 9 rue Francis Davso,<br> 13001 Marseille</a></div>
    </div>
  </div>
</div>
<!-- fin contact début du footer -->
<div class="footer-container">
  <p>mentions légales</p>
  <p>adminstration du site</p>
  <p>nous contacter</p>
</div>
